# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# IDE/Editor
.vscode

# Executável
bin/*
!bin/.gitkeep

# Banco de dados
*.db
data/*
!data/.gitkeep

# sqlite3.o / outros arquivos .o
*.o
build/*
!build/.gitkeep

# Biblioteca SQLite3 utilizada
lib/sqlite3/*

# Arquivos do SQLite3 .c e .h para compilação
!lib/sqlite3/sqlite3.c
!lib/sqlite3/sqlite3.h
!lib/sqlite3/sqlite3ext.h